<%= form_with(model: board, data: {
  controller: "nested-form",
  nested_form_wrapper_selector_value: '.nested-form-wrapper'
  }) do |f| %>
  <%# Error message for board %>
  <% if board.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(board.errors.count, "error") %> prohibited this event from being saved:</h2>
      <ul>
        <% board.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <%# This is where the board name is entered %>
  <%= f.label 'Board Name', style: "display: block" %>
  <%= f.text_field :name %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <br>
  <%# From the youtube vid %>

  <template data-nested-form-target="template">
    <%= f.fields_for :kanban_columns, KanbanColumn.new, child_index: 'NEW_RECORD' do |columns| %>
      <%= render "column_form", f: columns %>
    <% end %>
  </template>
  <%= f.fields_for :kanban_columns do |columns| %>
    <%= render "column_form", f: columns %>
  <% end %>

  <div data-nested-form-target="target"></div>
  <button type="button" data-action="nested-form#add">Add Column</button>

  <%# end of youtube vid %>

  <br>

  <%# Create board button %>
  <%= f.submit 'Create!'%>
<% end %>


  
