<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Boards</title>
</head>
<body>
  <div style="color: green">
    <%= notice %>
  </div>

  <%# Kanban board %>
  <h1><%= @board.name %></h1>

  <%# Columns and cards this uses the sortable javascript controller to sort the ul and li %>
  <div data-controller="sortable" data-sortable-group-value="column" style='display: flex'>
    <% @columns.rank(:row_order).each do | column | %>
      <ul data-sortable-update-url="<%= sort_kanban_column_path(column) %>"style='border: solid'>
        <li style='width: 200px'>
          <%=column.name %>
          <ul data-controller="sortable" data-sortable-group-value="cards" data-sortable-column-id="<%=column.id%>">
            <% column.cards.rank(:row_order).each do |card| %>
            <li data-sortable-update-url="<%= sort_card_path(card) %>">
              <%= link_to "#{card.name}", card %>
            </li>
            <% end %>
          </ul>
        </li>

        <%# Edit, create and delete links and buttons for column and cards %>
        <%= link_to "Create Card", new_card_path(:column => column.id) %>
        <%= link_to 'Edit Column', edit_kanban_column_path(column, :board => @board.id)%>
        <%= button_to "Delete Column", kanban_column_path(column), method: :delete %>
      </ul>
    <% end %>
  </div>
  
  <br>
  <%= link_to 'Add Someone', new_other_board_path(:board => @board.id) %>
  <%# Edit, create and delete links and buttons for board and cards %>
  <%= link_to 'Add Column', new_kanban_column_path(:board => @board.id) %>
  <%= link_to "Edit Board", edit_kanban_board_path %>
  <%= button_to "Destroy this Board", @board, method: :delete %>
  <%= link_to 'Home', kanban_boards_path %>
  
</body>
</html>

