<%# recursive comments form %>
<%= comment.comment %>
<%= button_to 'Like', like_path(:comment_id => comment.id), method: 'put' %>
<% if comment.user_id == current_user.id %>
  <%= link_to 'Edit Comment', edit_comment_path(comment) %>
<% end %>
<div data-controller="hide">
  <div hidden=true data-hide-target="reply">
    <%= render "comments/reply_form", card: Card.find(comment.card_id), parent_id: comment.id %>
  </div>
  <button data-hide-target="button" data-action="hide#unhide">Reply</button>
  <button hidden=true data-hide-target="discardbutton" data-action="hide#hide">Discard Reply</button>
</div>
<% comment.replies.each do |reply| %>
  <%= render "comments/comment", comment: reply %>
<% end %>
<br>