
<%= form_with model: [card, card.comments.build], local: true, class: 'mb-4' do |f| %>
  <div class="form-group">
    <%= f.label :comment, 'New Comment', class: 'form-label' %>
    <%= f.text_area :comment, class: 'form-control', rows: 3, style:'width:300px;' %>
  </div>
  
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :card_id, value: card.id %>
  
  <%= f.submit 'Comment', class: 'btn btn-primary mt-3' %>
<% end %>
