<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "kanban_board", "data-turbo-track": "reload" %>
    <title>Document</title>
</head>
<body>
    <% if user_signed_in? %> 
    <div> Welcome number: <%= current_user.id %> Please enjoy</div> 
        <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
    <% else %>
        <%= button_to "Sign in", new_user_session_path %> 
    <% end %>

<div data-controller="sortable">
    <% @columns.rank(:row_order).each do | column |%>
    <ul data-sortable-id="<%= column.id %>">
        <li>
            <%= column.name%>
        </li>
    </ul>
    <% end %>
</div>


</body>
</html>

