<h1>KanbanBoard#index</h1>
<p>Find me in app/views/kanban_board/index.html.erb</p>

<% if user_signed_in? %> 
 <div> Welcome number: <%= current_user.id %> Please enjoy</div> 
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
<% else %>
  <%= button_to "Sign in", new_user_session_path %> 
<% end %>

<% @boards.each do |board| %>
    <% board.kanban_columns.each do |column| %>
        <ul>
            <li><%=column.name%></li>
        </ul>
        <% column.cards.each do |card| %>
        <ul>
            <li><%=card.name%></li>
            <li><%=card.start_date%></li>
            <li><%=card.end_date%></li>
            <li><%=card.due_date%></li>
        </ul>
        <% end %>
    <% end %>
<% end %> 
