  <%= form_with(model: card) do |form| %>
    <% if card.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(card.errors.count, "error") %> prohibited this car from being saved:</h2>
        <ul>
          <% card.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <%= form.label 'Name', style: "display: block" %>
    <%= form.text_field :name %>
    <%= form.label 'Start', style: "display: block" %>
    <%= form.date_field :start_date %>
    <%= form.label 'Due', style: "display: block" %>
    <%= form.date_field :due_date %>
    <%= form.hidden_field :kanban_column_id, :value => @column.id %>
    <%= form.submit 'Create Card' %>

  <% end %>
  