<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hero</title>
</head>
<body>
  <h3><%= notice %></h3>
  <h1>Card Info</h1>
  <ul>
    <li>Card Name: <%= @card.name %></li>
    <li>Description: <%= @card.description%></li>
    <li>Start Date: <%= @card.start_date %></li>
    <li>Due Date: <%= @card.due_date %></li>
  </ul>

  <%# To create comments %>
  <%= render 'comments/form', card: @card %>

  <%# view comments %>
  <% @card.comments.each do |comment| %>
    <%# this if statement prevents an extra blank comment from being generated %>
    <% if comment.comment.blank? %>
    <% elsif comment.parent_id.blank?%>
      <%= render 'comments/comment', comment: comment, :card => @card %>
    <% end %>
  <% end %>

  <%# links and buttoms %>
  <%= link_to 'Edit Card', edit_card_path %>
  <%= link_to 'Back to board', kanban_board_path(@board)%>
  <%= button_to "Delete Card", @card, method: :delete, form: { data: { turbo_confirm: 'This will permanently delete the card. Are you sure?' } } %>

</body>
</html>